extends layout.pug

block content 
    div 
        p=video.description
        small=video.date
    each hashtag in video.hashtags
        small=hashtag
    div
        a(href=`${video.id}/edit`) Edit Video &rarr;
    div
        a(href=`${video.id}/delete`) Delete Video &rarr;